body{
    background-image: url('./1.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section {
    color: white;
    transition-duration: 2000ms;
}

section:hover {
    color: black;
    background-color: white;
}